body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #d0e7ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    
    width: 60px;
    padding: 5px;
    margin: 5px;
}

button {
    background-color: #d0e7ff;
    margin-top: 20px;
    padding: 10px 20px;
}

.interval {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
